* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.to-do {
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid rgba(128, 128, 128, 0.3);
  margin-top: 100px;
  box-shadow: 5px 5px 5px 5px #ece6e6;
}

.to-do .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 12px;
}

.to-do .title h1 {
  width: 300px;
  padding: 10px;
  font-size: 18px;
}

.title .fa-solid.fa-arrows-rotate {
  margin-left: 160px;
  padding: 10px;
  margin-top: 3px;
  color: rgba(128, 128, 128, 0.425);
}

.addbtn {
  margin-left: 200px;
}

.to-do input {
  border: 0;
  height: 30px;
  padding: 12px;
}

.to-do input::placeholder {
  font-style: italic;
  font-size: 14px;
}

.to-do input:focus {
  outline: none;
}

.to-do-list {
  list-style: none;
}

.div {
  padding: 1rem 1rem 0.5rem;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.check {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: blue;
}

.label {
  width: 270px;
}

.bin {
  margin-left: 60px;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.3);
}

hr:last-child {
  background-color: transparent;
}

.to-do-list .delete-btn {
  text-align: center;
  padding: 10px 0;
  background-color: rgba(128, 128, 128, 0.2);
}

.delete-btn span {
  display: flex;
  justify-content: center;
  color: rgba(128, 128, 128, 0.555);
}
